# Raw sequencing data
data/*.fastq
data/*.fastq.gz
data/*.sra

# Alignment files
*.sam
*.bam
*.bai


# HISAT2 index files
*.ht2

# Temporary logs
*.log

# featureCounts summary files
*.summary

# SRA prefetch folders
SRR*/
